---
layout: ./basic.html
containerCls: container
title: ESL Media Component
---
{{##content:
<esl-playground class="playground">

    <div class="snippets-section">
      {{= layout.snippets || 'No snippets.' }}
    </div>

    <div class="sections-wrapper">

      <div class="{{= layout.settings ? 'preview-settings' : ''}}">
        <div class="{{= layout.settings ? 'preview-wrapper' : '' }}">
          <span class="section-name">Preview</span>
          <esl-preview class="preview-section"></esl-preview>
        </div>

        {{? layout.settings}}
        <div class="settings-wrapper">
          <span class="section-name">Settings</span>
          <div class="settings-section">
            {{= layout.settings }}
          </div>
        </div>
        {{?}}
      </div>

      <div class="editor-wrapper">
        <span class="section-name">Editor</span>
        <esl-editor class="editor-section"></esl-editor>
      </div>
    </div>

</esl-playground>

#}}
