@import './snippets/snippets';
@import './settings/setting/setting';

.playground {
  display: flex;
  flex: 0 1 auto;
  width: 100%;

  .snippets-section, .settings-wrapper {
    width: 200px;
    max-width: 200px;
    min-width: 200px;
  }

  .snippets-section {
    margin-right: 10px;
  }

  .sections-wrapper {
    width: calc(100% - 220px);
    margin-left: 10px;
  }

  .preview-settings {
    display: flex;
    flex: 0 1 auto;
  }

  .section-name {
    font-size: 20px;
    font-weight: 500;
  }

  .preview-wrapper {
    width: calc(100% - 210px);
    margin-right: 10px;
  }

  .preview-section, .settings-section, .editor-section {
    margin-top: 5px;
    border: 1px solid #ebebeb;
  }

  .preview-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    background-color: #fcfcfc;
  }

  .settings-section {
    padding: 0 10px 10px;
    overflow: auto;
  }

  .editor-section {
    display: block;
    height: 300px;
    width: auto;
  }

  .preview-section, .settings-section {
    height: 500px;
  }

  .editor-wrapper {
    margin: 20px 0 10px;
  }
}
