---
layout: ../layouts/playground.html
containerCls: container
title: ESL Accordion <span class="badge badge-warning">Beta</span>
---

{{##snippets:
<esl-snippets>
  <ul class='snippets-list'>
    <li class='snippets-list-item'>
      <esl-snippet name='Simple accordion'>
        <template>
          <div class="card">
            <esl-trigger class="card-header" target="::next">
              <h5 class="mb-0">
                <button class="btn btn-link">
                  Toggle Accordion #1
                </button>
              </h5>
            </esl-trigger>
            <esl-panel open group="accordion-group" initial-params="{noAnimation: true}">
              <div class="card-body">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                  squid.
                  3
                  wolf
                  moon
                  officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                  eiusmod.
                  Brunch 3
                  wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                  shoreditch
                  et.
                  Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                  proident.
                  Ad
                  vegan
                  excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                  synth
                  nesciunt
                  you probably haven't heard of them accusamus labore sustainable VHS.</p>
              </div>
            </esl-panel>
          </div>
        </template>
      </esl-snippet>
    </li>
    <li class='snippets-list-item'>
      <esl-snippet name='Hover accordion'>
        <template>
          <div class="card">
            <esl-trigger class="card-header" target="::parent::find(.clps)" event="hover" hide-delay="250">
              <h5 class="mb-0">
                <button class="btn btn-link">
                  Toggle Accordion #2
                </button>
              </h5>
            </esl-trigger>
            <div>
              <esl-panel class="clps" group="accordion-group-2" default-params="{hideDelay: 100}">
                <div class="card-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                    squid.
                    3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                    laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table,
                    raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable
                    VHS.</p>
                </div>
              </esl-panel>
            </div>
          </div>
        </template>
      </esl-snippet>
    </li>
  </ul>
</esl-snippets>
<style>
  .card-header[active] {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .25);
    border-radius: 0;
  }
</style>
#}}

{{##settings:
<style>
  .red-color {
    color: red;
  }

  .green-color {
    color: green;
  }

  .italic {
    font-style: italic;
  }

  .bold {
    font-weight: bold;
  }
</style>
<esl-settings>
  <esl-list-setting name="event" selector="esl-trigger">
    <esl-list-item value="click">click</esl-list-item>
    <esl-list-item value="hover">hover</esl-list-item>
  </esl-list-setting>
  <esl-text-setting name="style" selector="esl-trigger"></esl-text-setting>
  <esl-text-setting name="style" selector="esl-panel"></esl-text-setting>
  <esl-class-setting name="color-class" selector=".card">
    <esl-list-item value="red-color">red</esl-list-item>
    <esl-list-item value="green-color">green</esl-list-item>
  </esl-class-setting>
  <esl-class-setting name="font" selector=".card">
    <esl-list-item value="italic">italic</esl-list-item>
    <esl-list-item value="bold">bold</esl-list-item>
  </esl-class-setting>
</esl-settings>
#}}
