---
layout: ../layouts/playground.html
containerCls: container
title: ESL Media Component
---

{{##snippets:
<uip-snippets>
  <template uip-snippet label='ESL Media HTML video'>
    <esl-media group="demo-media"
               media-type="video"
               media-src="https://storage.googleapis.com/webfundamentals-assets/videos/chrome.mp4"
               load-condition="(min-width: 500px)"
               load-cls-target="::parent(section)"
               load-cls-accepted="show-video"
               load-cls-declined="hide-video"
               controls>
    </esl-media>
  </template>
  <template uip-snippet label='ESL Media YouTube video'>
    <div class="img-container img-container-16-9 img-container-loaded">
      <esl-media group="demo-media"
                 media-type="youtube"
                 media-id="5LD-EoiTjuY"
                 load-condition="(min-width: 500px)"
                 load-cls-target="::parent(section)"
                 load-cls-accepted="show-video"
                 load-cls-declined="hide-video"
                 controls>
      </esl-media>
    </div>
  </template>
  <template uip-snippet label='ESL Media Iframe video'>
    <div class="img-container img-container-16-9 img-container-loaded">
      <esl-media media-type="iframe"
                 media-src="https://player.vimeo.com/video/1084537">
      </esl-media>
    </div>
  </template>
  <template uip-snippet label='Basic Audio Example'>
    <esl-media group="demo-media"
               controls
               media-type="audio"
               media-src="https://html5book.ru/examples/media/track.mp3">
    </esl-media>
  </template>
  <template uip-snippet label='HTML video background'>
    <div class="demo-marquee" style="height: 400px">
      <esl-media class="bg-content esl-media-bg"
                 media-type="video"
                 media-src="https://pixabay.com/videos/download/video-5200_large.mp4"
                 fill-mode="cover"
                 play-in-viewport
                 autoplay muted loop playsinline>
      </esl-media>
      <div class="demo-content contrast">
        <h2>Background media</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut
          aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </template>
  <template uip-snippet label='YouTube video background'>
    <div class="demo-marquee" style="height: 400px">
      <esl-media class="bg-content esl-media-bg"
                 media-type="youtube"
                 media-id="inadorMBFEI"
                 fill-mode="cover"
                 aspect-ratio="4:3"
                 play-in-viewport
                 autoplay muted loop playsinline>
      </esl-media>
      <div class="demo-content contrast">
        <h2>Background media</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut
          aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </template>
  <template uip-snippet label="Media with load conditions">
    <div class="img-container img-container-16-9">
      <esl-media load-condition="@XS, @MOBILE"
                 media-type="youtube"
                 media-id="e1omOSkYltw"
                 autoplay="true"
                 muted loop>
      </esl-media>
    </div>
  </template>
  <ul class='snippets-list'></ul>
</uip-snippets>
#}}

{{##settings:
<uip-settings>
  <uip-check-setting name="controls" selector="esl-media"></uip-check-setting>
  <uip-check-setting name="muted" selector="esl-media"></uip-check-setting>
  <uip-check-setting name="loop" selector="esl-media"></uip-check-setting>
  <uip-check-setting name="disabled" selector="esl-media"></uip-check-setting>
  <uip-text-setting name="media-id" selector="esl-media"></uip-text-setting>
  <uip-text-setting name="media-type" selector="esl-media"></uip-text-setting>
  <uip-text-setting name="media-src" selector="esl-media"></uip-text-setting>
  <uip-text-setting name="aspect-ratio" selector="esl-media"></uip-text-setting>
  <uip-text-setting name="load-condition" selector="esl-media"></uip-text-setting>

  <uip-check-setting name="playsinline" selector="esl-media"></uip-check-setting>
  <uip-check-setting name="play-in-viewport" selector="esl-media"></uip-check-setting>
  <uip-check-setting name="autoplay" selector="esl-media"></uip-check-setting>
  <uip-check-setting name="autofocus" selector="esl-media"></uip-check-setting>

  <uip-list-setting name="fill-mode" selector="esl-media">
    <uip-list-item value="auto">Auto mode</uip-list-item>
    <uip-list-item value="cover">Cover mode</uip-list-item>
    <uip-list-item value="inscribe">Inscribe mode</uip-list-item>
  </uip-list-setting>
</uip-settings>

</uip-settings>
#}}
