esl-snippets {
  .snippets-list {
    list-style-type: none;
    margin-top: 2px;
  }

  .snippets-list-item {
    margin-bottom: 5px;
    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }

  .active {
    font-size: 18px;
    font-weight: 600;
  }
}
